@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-table-row .ant-table-row-level-0 tr {
  background-color: #1890ff;
}

.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #f5f5f5;
}
.ant-table-thead tr th {
  height: 40px;
}
/* tr:hover {
  background-color: #1890ff !important;
} */
